<div id="accordion_container" style="display: flex; flex: 10; flex-direction: column;">
	<a data-toggle="collapse" href="#collapse_{ACCORDION_ID}">
		<div class="text-center panel panel-default accordion-head" style="display: flex; flex: 10; align-items: center; position: relative">
			<div class="accordion-arrow">›</div>
			<div class="panel-body" style="flex: 10;">
				<h2>
					{TITLE}
				</h2>
			</div>
		</div>
	</a>
	<div id="collapse_{ACCORDION_ID}" class="panel-collapse collapse {EXPANDED}">
			{CONTENT}
	</div>
</div>
